In [5]:
import sqlite3
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

<h2> Skills </h2>
Come prima parte della generazione dei dati, è necessario specificare quali siano le possibili skill che un developer possa avere.

In [6]:
with sqlite3.connect('../datasets/skills_dataset.db') as skills_conn:
    skills_frame = pd.read_sql('SELECT * FROM Skills', skills_conn, index_col='ID') 
skills_frame

          SKILL                  TYPE
ID
0    JavaScript  Programming Language
1          HTML  Programming Language
2        Python  Programming Language
3           SQL  Programming Language
4    TypeScript  Programming Language
..          ...                   ...
100         Git                  Tool
101      Travis                  Tool
102       Swift  Programming Language
103         iOS      Operating System
104       Linux      Operating System

[97 rows x 2 columns]

In [8]:
gpt_generated_frame = pd.read_csv('../datasets/new_gpt_generated_dataset.csv', index_col='ID')

gpt_generated_frame.drop_duplicates()

gpt_generated_frame

,Linguaggi di Programmazione,Framework,Database,Tools,Cloud
ID,,,,,
1,"HTML,CSS,JavaScript","React,Angular,Vue.js","MySQL,Oracle","npm,Webpack,Visual Studio",Heroku
2,"Python,JavaScript","Django,Flask,NumPy","MongoDB,MySQL","Pip,Homebrew,Composer",AWS
3,"TypeScript,JavaScript,CSS","React,Angular,Vue.js","PostgreSQL,MySQL","Yarn,Webpack,CMake",Google Cloud
4,"Bash,Python","NumPy,PyTorch,Scikit-Learn","MongoDB,Redis","Docker,Pacman,Homebrew",Docker
5,"Java,C++,HTML,CSS,JavaScript","Spring,JavaEE,React,Angular,Vue.js","MySQL,Oracle,Microsoft SQL Server","Maven,Gradle,Kubernetes",Azure
...,...,...,...,...,...
246,"Bash,Python,JavaScript","NumPy,PyTorch,Scikit-Learn","MongoDB,Redis","Docker,Pacman,Homebrew",Google Cloud
247,"C#,JavaScript,HTML,CSS",".NET,React,Angular,Vue.js","Microsoft SQL Server,MySQL","Visual Studio,MSBuild,Chocolatey",Azure
248,"C++,C,Java,JavaScript","Spring,JavaEE,React,Angular,Vue.js","Oracle,MySQL","GCC,CMake,Cargo",AWS
249,"C,C++,JavaScript,HTML,CSS","React,Angular,Vue.js","MySQL,Oracle","GCC,CMake,Ansible",Azure
250,"Go,JavaScript,HTML,CSS","React,Vue.js","Redis,MariaDB","Go Modules,Docker,Chocolatey",AWS