In [61]:
import sqlite3
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

<h2> Skills </h2>
Come prima parte della generazione dei dati, è necessario specificare quali siano le possibili skill che un developer possa avere.

In [62]:
with sqlite3.connect('../datasets/skills_dataset.db') as skills_conn:
    skills_frame = pd.read_sql('SELECT * FROM Skills', skills_conn, index_col='ID') 
skills_frame

          SKILL                  TYPE
ID
0    JavaScript  Programming Language
1          HTML  Programming Language
2        Python  Programming Language
3           SQL  Programming Language
4    TypeScript  Programming Language
..          ...                   ...
100         Git                  Tool
101      Travis                  Tool
102       Swift  Programming Language
103         iOS      Operating System
104       Linux      Operating System

[97 rows x 2 columns]

In [63]:
frame = pd.read_csv('../datasets/datasetPULITO (1).csv', index_col = 'ID')
frame

,Linguaggi_di_Programmazione,Framework,Database,Tool,Cloud
ID,,,,,
1,"JavaScript,HTML,Python,CSS","Node.js,React,jQuery,Express","PostgreSQL,MySQL,SQLite","Docker,npm,Pip,Webpack",AWS
2,"TypeScript,Java,C#","Angular,Vue.js","Microsoft SQL Server,MySQL","Kubernetes,Maven,Docker",Google Cloud
3,"C++,C,Java",NaN,"PostgreSQL,SQLite","CMake,GCC",AWS
4,"HTML,JavaScript,PHP,CSS","Node.js, Vue.js",MySQL,"Composer,npm",Vercel
5,"Python,Java,Ruby,Go",Flask,"MongoDB,MySQL,Redis","Docker,Cargo","Google Cloud, Heroku"
6,Python,"Flask, FastAPI",MySQL,"npm,Docker",NaN
7,"Bash,PowerShell,C,Python",NaN,MySQL,Docker,Azure
8,"Go,Rust",NaN,"SQLite,MariaDB",Docker,AWS
9,"Ruby,JavaScript,HTML,CSS","Node.js,Next.js",MongoDB,"RubyGems,npm",Heroku
10,"Java,JavaScript","Spring, JakartaEE","OracleDB,PostgreSQL, MySQL","Maven,Gradle",AWS
11,"PHP,JavaScript,HTML,CSS",NaN,"MariaDB,MySQL","Composer,Homebrew,Chocolatey","AWS,Azure"
12,"TypeScript,JavaScript,HTML,Python, CSS",React,"PostgreSQL,MongoDB","npm,Webpack,Yarn",NaN
13,"C#,Java,C++",".NET,Spring","Microsoft SQL Server,MySQL","NuGet,MSBuild",Azure
14,Python,"FastAPI,Pandas,Django",PostgreSQL,NaN,NaN
15,"JavaScript,TypeScript,HTML, CSS","Svelte,React",MySQL,"npm,Webpack,Yarn",AWS
16,"Dart,JavaScript,TypeScript,HTML,CSS","Flutter,Angular,React",SQLite,"npm,Webpack,Yarn",Firebase
17,"Java,Kotlin",Spring,Oracle,"Maven,Gradle",Google Cloud
18,"C,Python,Java",JakartaEE,MySQL,Maven,NaN
19,"HTML,JavaScript,TypeScript, CSS","Angular,React,Vue.js",NaN,"Webpack,Yarn",NaN
20,Python,"Flask,FastAPI,NumPy,Tensorflow, Pandas",MySQL,"pip,Docker",NaN
21,"JavaScript,HTML,Python, CSS","Node.js,React,jQuery,Express","PostgreSQL,MySQL,SQLite","Docker,npm,Pip,Webpack",NaN
22,"TypeScript,Java,C#",Spring,"Microsoft SQL Server,MySQL","Kubernetes,Docker",Azure
23,"C++,Python","NumPy,Scikit-Learn,Tensorflow,Pandas",MySQL,"CMake,GCC",AWS
24,"HTML,JavaScript,PHP,CSS",NaN,NaN,NaN,NaN
25,"Python,Java,Ruby","Flask,Spring","MySQL,Redis","Docker,Cargo,RubyGems",Heroku
26,"C,Java,C++",Spring,NaN,"GCC,Make",AWS
27,"PowerShell,Python",NaN,NaN,Docker,NaN
28,"Go,Java,Kotlin,Python","FastAPI, JakartaEE","SQLite,MariaDB","Docker,Pip",AWS
29,"Ruby,JavaScript,HTML,CSS","Node.js,React",NaN,"RubyGems,Homebrew",NaN
30,"Java,JavaScript",Spring,"Oracle,PostgreSQL","Maven,Gradle",Google Cloud
31,"PHP,JavaScript,HTML,CSS","Node.js,Angular,Next.js","MongoDB,MySQL",Git,NaN
32,"TypeScript,JavaScript,HTML,CSS",React,"PostgreSQL,MongoDB","npm,Webpack,Yarn",NaN
33,"C#,C++",.NET,"Microsoft SQL Server,MySQL","NuGet,MSBuild",Azure
34,"Go,Rust,Lua,Bash",NaN,Redis,"Docker,Cargo",NaN
35,"JavaScript,TypeScript,HTML,CSS",Svelte,MySQL,"npm,Webpack,Yarn",NaN
36,"Dart,JavaScript,TypeScript",Flutter,SQLite,"npm,Webpack,Yarn",Firebase
37,"Java,Kotlin,Python,Rust","JakartaEE,Spring",MySQL,"Maven,Gradle",AWS
38,"C++,C,Python,Java",Spring,MySQL,"Maven,Gradle",NaN
39,"HTML,JavaScript,TypeScript,CSS","React,Next.js,Express",MongoDB,"npm,Webpack,Yarn",NaN
40,Python,FastAPI,MySQL,"pip,Docker",NaN
41,"JavaScript,HTML,Python,CSS","Node.js,jQuery,Django","PostgreSQL,MySQL,SQLite","npm,Pip,Webpack",NaN
42,"TypeScript,Java,C#",.NET,"Microsoft SQL Server,MySQL","Kubernetes,Docker",Azure
43,"C++,JavaScript,Java",Django,"PostgreSQL,SQLite","CMake,GCC",AWS
44,"HTML,JavaScript,PHP,CSS",NaN,MySQL,"Composer,Homebrew",NaN
45,"Python,Java,Ruby,Go","Flask,Spring","MongoDB,MySQL","Docker,Redis,Cargo",AWS
46,"C,Java,C++,Python",JakartaEE,NaN,"GCC,Make",NaN
47,"Bash,PowerShell,Python,JavaScript","NumPy,Pandas,Scikit-Learn,React",NaN,"Docker,Ansible,Chocolatey",AWS
48,"Go,Rust,Kotlin,Python",FastAPI,"SQLite,MariaDB","Docker,npm,Pip","AWS,Azure"
49,"Ruby,JavaScript,HTML,CSS","Angular,Next.js",NaN,"RubyGems,Homebrew","Heroku,Vercel"
50,"Java,C++,JavaScript",Spring,"Oracle,PostgreSQL","Maven,Gradle","AWS,Azure"

In [64]:
frame['skills'] = frame.apply(lambda row: ','.join(str(val) for val in row if not pd.isna(val)), axis = 1)
column_to_remove = ['Linguaggi_di_Programmazione','Framework','Database','Tool','Cloud']

frame = frame.drop(column_to_remove, axis = 1)

In [65]:
frame

                                               skills
ID
1   JavaScript,HTML,Python,CSS,Node.js,React,jQuer...
2   TypeScript,Java,C#,Angular,Vue.js,Microsoft SQ...
3          C++,C,Java,PostgreSQL,SQLite,CMake,GCC,AWS
4   HTML,JavaScript,PHP,CSS,Node.js, Vue.js,MySQL,...
5   Python,Java,Ruby,Go,Flask,MongoDB,MySQL,Redis,...
6              Python,Flask, FastAPI,MySQL,npm,Docker
7         Bash,PowerShell,C,Python,MySQL,Docker,Azure
8                   Go,Rust,SQLite,MariaDB,Docker,AWS
9   Ruby,JavaScript,HTML,CSS,Node.js,Next.js,Mongo...
10  Java,JavaScript,Spring, JakartaEE,OracleDB,Pos...
11  PHP,JavaScript,HTML,CSS,MariaDB,MySQL,Composer...
12  TypeScript,JavaScript,HTML,Python, CSS,React,P...
13  C#,Java,C++,.NET,Spring,Microsoft SQL Server,M...
14            Python,FastAPI,Pandas,Django,PostgreSQL
15  JavaScript,TypeScript,HTML, CSS,Svelte,React,M...
16  Dart,JavaScript,TypeScript,HTML,CSS,Flutter,An...
17  Java,Kotlin,Spring,Oracle,Maven,Gradle,Google ...
18                C,Python,Java,JakartaEE,MySQL,Maven
19  HTML,JavaScript,TypeScript, CSS,Angular,React,...
20  Python,Flask,FastAPI,NumPy,Tensorflow, Pandas,...
21  JavaScript,HTML,Python, CSS,Node.js,React,jQue...
22  TypeScript,Java,C#,Spring,Microsoft SQL Server...
23  C++,Python,NumPy,Scikit-Learn,Tensorflow,Panda...
24                            HTML,JavaScript,PHP,CSS
25  Python,Java,Ruby,Flask,Spring,MySQL,Redis,Dock...
26                     C,Java,C++,Spring,GCC,Make,AWS
27                           PowerShell,Python,Docker
28  Go,Java,Kotlin,Python,FastAPI, JakartaEE,SQLit...
29  Ruby,JavaScript,HTML,CSS,Node.js,React,RubyGem...
30  Java,JavaScript,Spring,Oracle,PostgreSQL,Maven...
31  PHP,JavaScript,HTML,CSS,Node.js,Angular,Next.j...
32  TypeScript,JavaScript,HTML,CSS,React,PostgreSQ...
33  C#,C++,.NET,Microsoft SQL Server,MySQL,NuGet,M...
34                Go,Rust,Lua,Bash,Redis,Docker,Cargo
35  JavaScript,TypeScript,HTML,CSS,Svelte,MySQL,np...
36  Dart,JavaScript,TypeScript,Flutter,SQLite,npm,...
37  Java,Kotlin,Python,Rust,JakartaEE,Spring,MySQL...
38        C++,C,Python,Java,Spring,MySQL,Maven,Gradle
39  HTML,JavaScript,TypeScript,CSS,React,Next.js,E...
40                    Python,FastAPI,MySQL,pip,Docker
41  JavaScript,HTML,Python,CSS,Node.js,jQuery,Djan...
42  TypeScript,Java,C#,.NET,Microsoft SQL Server,M...
43  C++,JavaScript,Java,Django,PostgreSQL,SQLite,C...
44    HTML,JavaScript,PHP,CSS,MySQL,Composer,Homebrew
45  Python,Java,Ruby,Go,Flask,Spring,MongoDB,MySQL...
46               C,Java,C++,Python,JakartaEE,GCC,Make
47  Bash,PowerShell,Python,JavaScript,NumPy,Pandas...
48  Go,Rust,Kotlin,Python,FastAPI,SQLite,MariaDB,D...
49  Ruby,JavaScript,HTML,CSS,Angular,Next.js,RubyG...
50  Java,C++,JavaScript,Spring,Oracle,PostgreSQL,M...

In [66]:
actgan_generated_frame = pd.read_csv('../datasets/actgan_generated_dev_dataset.csv')

actgan_generated_frame

      ID                                             skills
0      1  C++,Python,NumPy,Scikit-Learn,Tensorflow,Panda...
1     37  JavaScript,TypeScript,HTML,CSS,Svelte,MySQL,np...
2      1  Python,Flask, FastAPI,MySQL,npm,Docker,Python,...
3      5  Java,Kotlin,Spring,Oracle,Maven,Gradle,Google ...
4     50  Python,Java,Ruby,Go,Flask,Spring,MongoDB,MySQL...
...   ..                                                ...
1495  28  C++,Python,NumPy,Scikit-Learn,Tensorflow,Panda...
1496  29  Dart,JavaScript,TypeScript,HTML,CSS,Flutter,An...
1497   5  Python,Flask, FastAPI,MySQL,npm,Docker,Python,...
1498   2  TypeScript,Java,C#,Angular,Vue.js,Microsoft SQ...
1499  44  Dart,JavaScript,TypeScript,Flutter,SQLite,npm,...

[1500 rows x 2 columns]

In [67]:
actgan_generated_frame = actgan_generated_frame.drop("ID", axis = 1 )

actgan_generated_frame

                                                 skills
0     C++,Python,NumPy,Scikit-Learn,Tensorflow,Panda...
1     JavaScript,TypeScript,HTML,CSS,Svelte,MySQL,np...
2     Python,Flask, FastAPI,MySQL,npm,Docker,Python,...
3     Java,Kotlin,Spring,Oracle,Maven,Gradle,Google ...
4     Python,Java,Ruby,Go,Flask,Spring,MongoDB,MySQL...
...                                                 ...
1495  C++,Python,NumPy,Scikit-Learn,Tensorflow,Panda...
1496  Dart,JavaScript,TypeScript,HTML,CSS,Flutter,An...
1497  Python,Flask, FastAPI,MySQL,npm,Docker,Python,...
1498  TypeScript,Java,C#,Angular,Vue.js,Microsoft SQ...
1499  Dart,JavaScript,TypeScript,Flutter,SQLite,npm,...

[1500 rows x 1 columns]

In [69]:
gpt_generated_frame = pd.read_csv('../datasets/gpt_generated_dev_dataset.csv')

gpt_generated_frame

                                                 skills
0     Java,Kotlin,Python,Rust,JakartaEE,Spring,MySQL...
1     JavaScript,HTML,Python,CSS,Node.js,jQuery,Djan...
2     C++,C,Python,Java,Spring,MySQL,Maven,Gradle,C+...
3     HTML,JavaScript,TypeScript, CSS,Angular,React,...
4     C++,Python,NumPy,Scikit-Learn,Tensorflow,Panda...
...                                                 ...
1495  Go,Rust,Kotlin,Python,FastAPI,SQLite,MariaDB,D...
1496  HTML,JavaScript,PHP,CSS,Node.js, Vue.js,MySQL,...
1497  Java,JavaScript,Spring, JakartaEE,OracleDB,Pos...
1498  JavaScript,TypeScript,HTML, CSS,Svelte,React,M...
1499  Ruby,JavaScript,HTML,CSS,Angular,Next.js,RubyG...

[1500 rows x 1 columns]