In [53]:
import sqlite3
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [54]:
offers_connection = sqlite3.connect('../datasets/offers_dataset.db')
offers_frame = pd.read_sql_query('''SELECT * FROM offers''', offers_connection)
offers_connection.close()

# [!] Le descrizioni all'interno del notebook non sono mostrate nella loro versione completa
#     per accedere ad una specifica descrizione usare il metodo: offers_frame.loc[ID, NomeColonna]
offers_frame

,Name,Description,Location
0,Software Developer,Miniclip is a global leader in digital games w...,"Genova, Liguria"
1,Junior Software Developer,"NETtoWORK, azienda italiana nata nel 2016, ope...",17100 Savona
2,Software Developer,We are looking for talented and passionate peo...,55100 Lucca
3,Software Developer,ARESYS is a R&D oriented company with nearly ...,"Matera, Basilicata"
4,Senior Software Developer,Il/la Candidato/a dovrà padroneggiare: \n \n- ...,"Catania, Sicilia"
...,...,...,...
165,Data Scientist - Pharma,Akkodis è un leader globale nel mercato dell'i...,"Provincia di Torino, Piemonte"
166,DATA SCIENTIST | MACHINE LEARNING | BIG DATA,Techyon: Information Technology Recruitment Ex...,"Parma, Emilia-Romagna"
167,PDS AD&GMP Scientist I,Job DescriptionWhen you’re part of Thermo Fish...,20900 Monza
168,Junior Ethical Data Scientist,We are looking for an extremely BOLD & VISIONA...,None
169,EU Institutions: AI Machine Learning Data Scie...,WHO WE ARE \n \n- Etinars is a values-focuse...,"Ispra, Lombardia"

## Data Exploration
Come prima cosa esaminiamo il nostro dataset di offerte, in particolare dovremmo verificare la qualità dei dati:
- Base   
    - Presenza di valori nulli
    - (**Importante**) Presenza di sinonimi geografici
    - Presenza di informazioni utili
- Avanzato
    - Analisi delle Parole Chiave (es. Titoli)
    - Analisi della distribuzione dei dati

**Presenza di Valori Nulli e Duplicati**
Come è possibile vedere di seguito il dataset contiene valori nulli solo per la colonna Location, il che però è normale, in quanto non tutte le Offerte di lavoro sono in presenza, quindi le Location mancanti rappresentano il numero di Offerte di lavoro in Remote.
Questa informazione è importante perchè in seguito ci sarà la necessità di rappresentare queste informazioni in modo omogeneo, in modo tale che un modello il cui scopo è raggruppare le Offerte (clustering, come proposto nell'Analisi del Problema) possa farlo in modo adeguato.

In [55]:
offers_frame.dropna(inplace=True)
offers_frame.drop_duplicates(inplace=True)
offers_frame.info()

<class 'pandas.core.frame.DataFrame'>
Index: 134 entries, 0 to 169
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         134 non-null    object
 1   Description  134 non-null    object
 2   Location     134 non-null    object
dtypes: object(3)
memory usage: 4.2+ KB

## Presenza di Sinonimi Geografici
Il dataset contiene attualmente molteplici istanze in cui la stessa Location è riportata in modi diversi, come \<Cap>, \<Città> e \<Città>, \<Regione>.

In [56]:
#example_city = "Bologna"

#onsite_offers = offers_frame[offers_frame["Location"].notna()]
#geo_syn = onsite_offers.Location.map(lambda text: example_city in text)
#onsite_offers[geo_syn]

**Analisi dei Titoli**
Di seguito vengono analizzati i Titoli delle Offerte di lavoro con lo scopo di verificare la presenza di termini comuni, in particolare vengono usate delle basilari tecniche di Natural Language Processing come:
- **Tokenization**, utilizzata per dividere frasi o documenti in parole (*title.split()*) 
- **Rimozione della Punteggiatura**, utilizzata per migliorare la qualità dei dati estratti, in modo da non influenzare i risultati 
- **Normalizzazione**, utilizzata per ridurre la complessità del vocabolario e trattare parole con maiuscole e minuscole come equivalenti (*t.lower()*)

In [57]:
from string import punctuation
from collections import Counter

def count_words(document: str, counter: Counter):
    """
    :param document: a string representation of the document to inspect
    :param counter: a Python built-in object used to count occurrences of items
    """
    punct = [p for p in punctuation]
    for t in document.split():
        if not t in punct:
            counter[t.lower()] += 1


titles_counts = Counter()
offers_frame.Name.map(lambda text: count_words(text, titles_counts))

titles_counts

Counter({'developer': 42,
         'software': 35,
         'engineer': 30,
         'network': 19,
         'junior': 14,
         'web': 14,
         'data': 10,
         'senior': 9,
         'intern': 9,
         'sviluppatore': 8,
         '2024': 8,
         'full': 7,
         'scientist': 7,
         'analyst': 6,
         'programmatore': 5,
         'graduate': 5,
         'learning': 5,
         'development': 4,
         'c#': 4,
         'security': 4,
         'frontend': 4,
         'stack': 4,
         'backend': 4,
         'remote': 3,
         'engineering': 3,
         'apprenticeship': 3,
         '(london)': 3,
         'system': 3,
         'summer': 3,
         'internship': 3,
         '–': 3,
         'consultant': 3,
         'it': 3,
         'machine': 3,
         'stage': 2,
         'java': 2,
         'settore': 2,
         'sanità': 2,
         'uk': 2,
         'technology': 2,
         'engineer,': 2,
         'programming': 2,
         'cyber': 2,
         'energy': 2,
         'starting': 2,
         'and': 2,
         'manager': 2,
         'server': 2,
         'lead': 2,
         'site': 2,
         'reliability': 2,
         'milano': 2,
         'specialist': 2,
         'rif.': 2,
         'front': 2,
         'end': 2,
         'php': 2,
         'javascript': 2,
         'e': 2,
         'ai': 2,
         'business': 2,
         'intelligence': 2,
         'ibp': 1,
         'algorithms': 1,
         'tecnico': 1,
         'bilance': 1,
         'digitali': 1,
         'supermercati': 1,
         'asp.net': 1,
         'manufacturing': 1,
         'relocation': 1,
         'usa': 1,
         'front-end': 1,
         'app': 1,
         'programmer': 1,
         'hmi': 1,
         'flutter': 1,
         'qa': 1,
         'appartenente': 1,
         'alle': 1,
         'categorie': 1,
         'protette': 1,
         'erp': 1,
         'campus': 1,
         'programme': 1,
         '(uk)': 1,
         'degree': 1,
         '(nottingham)': 1,
         'start': 1,
         '(fixed-term': 1,
         'contract)': 1,
         'undergraduate': 1,
         'harvesting': 1,
         '(university': 1,
         'grad)': 1,
         'assistant': 1,
         'foundation': 1,
         '(edinburgh': 1,
         'remote)': 1,
         'electrochemical': 1,
         'modelling': 1,
         'storage': 1,
         '(12': 1,
         'months)': 1,
         'geospatial': 1,
         'application': 1,
         'analyst,': 1,
         'university': 1,
         'placement': 1,
         '(september': 1,
         'start)': 1,
         'macro': 1,
         'research': 1,
         'associate': 1,
         'london': 1,
         'technical': 1,
         'freelance': 1,
         'ux': 1,
         'apprentice': 1,
         'digital': 1,
         'designer': 1,
         'power': 1,
         'eso': 1,
         '(security': 1,
         'services)': 1,
         'production': 1,
         'f5': 1,
         'pcn': 1,
         'infrastructure': 1,
         'band': 1,
         '6-': 1,
         'cits': 1,
         'ip': 1,
         'merchandiser': 1,
         'controller': 1,
         'administrator': 1,
         'sistemista': 1,
         'transformation': 1,
         'financial': 1,
         'services': 1,
         '[cns]': 1,
         'service': 1,
         'desk': 1,
         'operator': 1,
         '(in': 1,
         'brussels)': 1,
         'firewall': 1,
         'palo': 1,
         'alto': 1,
         'no': 1,
         'freelancer!': 1,
         '490': 1,
         'support': 1,
         'progettista': 1,
         'ict': 1,
         'sr.': 1,
         'devops': 1,
         'roma': 1,
         '512': 1,
         'valutazioni,': 1,
         'industriali': 1,
         'advisory': 1,
         'engineer_milano': 1,
         'middle/senior': 1,
         'applicazioni': 1,
         'sviluppatori': 1,
         'mobile': 1,
         'linguaggio': 1,
         'owl': 1,
         'sparql': 1,
         '[dig]': 1,
         'global': 1,
         'partner': 1,
         'finance': 1,
         'inside': 1,
         'sales': 1,
         'informatico': 1,
         'labview': 1,
         'control': 1,
         'automation/machine': 1,
         'learning/ai': 1,
         'computer': 1,
         'vision': 1,
         'alorithm': 1,
         'sw': 1,
         'gridspertise': 1,
         'simulation': 1,
         'modeling': 1,
         'al': 1,
         'engineers-machine': 1,
         'deep': 1,
         '(virtual': 1,
         'networking)': 1,
         'product': 1,
         'ios': 1,
         'sfcc': 1,
         '(backend)': 1,
         'gov.uk': 1,
         'notify': 1,
         'pharma': 1,
         'big': 1,
         'pds': 1,
         'ad&gmp': 1,
         'i': 1,
         'eu': 1,
         'institutions:': 1})

Analisi delle occorrenze di parole:

In [58]:
# Jacopo plotta qui

## Data Preparation
Per permettere il completo soddisfacimento dei requisiti, alcuni dati mancanti alle offerte dovranno essere aggiunti al dataset, tra cui:
- RequiredSkills: le Competenze richieste da una Offerta
- LocationType: il tipo di Location, se in remoto (Remote) o in sede (OnSite)
- Languages: le lingue naturali necessarie per l'offerta di lavoro

### Skill Extraction
Per procedere con l'estrazione delle Competenze dalle Offerte per prima cosa importiamo il relativo dataset.

In [59]:
# [!] In alcune descrizioni di offerte c'è HTML5 o CSS3 che non vengono riconosciuti come HTML o CSS

with sqlite3.connect('../datasets/skills_dataset.db') as skills_connection:
    skills_frame = pd.read_sql_query('SELECT * FROM skills', skills_connection)
    skills_frame.set_index('ID', inplace=True)
    
skills_frame

         SKILL                  TYPE
ID
0   JavaScript  Programming Language
1         HTML  Programming Language
2       Python  Programming Language
3          SQL  Programming Language
4   TypeScript  Programming Language
..         ...                   ...
95         APT                  Tool
96    Unity 3D                  Tool
97      Pacman                  Tool
98        pnpm                  Tool
99         CSS  Programming Language

[96 rows x 2 columns]

In [60]:
import nltk
from nltk.tokenize import word_tokenize
nltk.download('punkt')

def remove_symbols(description: str, remove_map: dict) -> str:
    """
    """
    for old, new in remove_map.items():
        description = description.replace(old, new)
    return description.lower()

def extract_symbols(text: str, available_symbols: list) -> set:
    """
    """
    out = set()
    for token in set(word_tokenize(text)):
        if token.lower() in available_symbols:
           out.add(token)
    return out

"""
def extract_symbols(description: str, available_symbols: list) -> set:
    s = set()
    for word in description.split():
        if word in available_symbols:
            s.add(word)
    return s 
"""

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\anton\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

'\ndef extract_symbols(description: str, available_symbols: list) -> set:\n    s = set()\n    for word in description.split():\n        if word in available_symbols:\n            s.add(word)\n    return s \n'

In [61]:
# Get Skill list
skills_list = [skill.lower() for skill in skills_frame['SKILL'].tolist()]

# Symbols to remove
punct = [p for p in punctuation]
punct.remove('+')
punct.remove('#')
punct.remove('.')

removal = {p: '' for p in punct}
removal['\n'] = ''
removal['/'] = ' '
removal['('] = ' '
removal[')'] = ' '
removal[','] = ' '

In [65]:
# offers_frame['RequiredSkills'] = ''
with_no_skills = 0

for i, offer_description in enumerate(offers_frame.loc[:, 'Description']):
    desc = remove_symbols(offer_description, removal)
    offer_skills = extract_symbols(desc, skills_list)
    if not offer_skills:
        with_no_skills += 1
        # print(f'{i}: No Skills')
        # print(desc)
    else:
        print(f'{i}: {offer_skills}')
        # offers_frame.loc[i, "RequiredSkills"] = ', '.join(offer_skills)

print(f'There are {with_no_skills} Offers with no skills available')
# offers_frame

1: {'c++', 'python', 'java', 'c'}
2: {'javascript', 'oracle', 'sql', 'angular', 'java'}
3: {'c++', 'python', 'c'}
4: {'html', 'javascript', 'angularjs', 'sql', 'c', 'css', '.net', 'java'}
5: {'.net', 'java'}
6: {'python', 'java'}
7: {'mysql', 'java'}
8: {'html', 'javascript', 'sql', 'jquery', 'c', 'css', '.net'}
9: {'docker', 'kubernetes', 'javascript', 'php', 'go', 'react', 'java'}
11: {'angular', 'react', 'aws', 'typescript'}
13: {'java'}
14: {'kubernetes', 'oracle', 'aws', 'react', 'angular', 'java'}
15: {'.net', 'c'}
16: {'mysql', 'sql', 'c', 'c++', 'python', 'java'}
17: {'javascript', 'flutter', 'oracle', 'vue.js', 'dart', 'aws', 'react', 'angular', 'typescript'}
18: {'c', '.net', 'sql'}
19: {'javascript', 'python', 'php', 'sql'}
20: {'c++', 'c'}
21: {'dart', 'flutter', 'aws'}
22: {'docker', 'kubernetes', 'sql', 'vite', 'c', '.net'}
23: {'php', 'java', 'c'}
24: {'python', 'aws', 'java', 'c'}
25: {'c++', 'java', 'c'}
26: {'c', '.net', 'mysql', 'sql'}
28: {'.net', 'sql'}
30: {'express', 'css', 'go', 'python', 'kotlin', 'java'}
31: {'html', 'javascript', 'aws', 'c', 'css', 'java'}
32: {'.net', 'aws', 'java', 'c'}
33: {'sql'}
34: {'c'}
35: {'rust', 'c', 'c++', 'python', 'java'}
36: {'ruby'}
37: {'php', 'html'}
38: {'c++'}
39: {'python', 'java', 'c'}
40: {'c++', 'python', 'c'}
41: {'javascript', 'python', 'c++', 'java'}
43: {'laravel', 'javascript', 'php', 'wordpress', 'react', 'typescript'}
45: {'ruby', 'go'}
46: {'python'}
48: {'c++', 'java', 'c'}
49: {'go'}
50: {'python'}
51: {'c', 'java', 'sql'}
52: {'html', 'javascript', 'php', 'wordpress', 'css'}
53: {'html', 'javascript', 'php', 'wordpress', 'css'}
54: {'javascript', 'css', 'html'}
55: {'java'}
56: {'css', 'html', 'c'}
63: {'c++', 'python', 'rust'}
66: {'vmware', 'aws', 'go'}
67: {'vmware'}
76: {'ansible', 'vmware', 'bash'}
82: {'powershell', 'cloudflare', 'sql'}
83: {'docker', 'kubernetes', 'elasticsearch', 'bash', 'dynamodb', 'terraform', 'aws', 'python', 'powershell', '.net'}
88: {'mysql', 'html', 'php', 'wordpress', 'css'}
90: {'mysql', 'html', 'laravel', 'javascript', 'mongodb', 'php', 'vue.js', 'wordpress', 'npm', 'css', 'angular', 'typescript'}
91: {'javascript', 'angular', 'react'}
92: {'php', 'mysql', 'laravel', 'react'}
93: {'docker', 'mysql', 'laravel', 'php', 'jquery', 'c'}
94: {'javascript', 'css', 'angular'}
95: {'html', 'javascript', 'jquery', 'angular', 'angularjs', 'typescript'}
96: {'mysql', 'laravel', 'javascript', 'php', 'sql', 'jquery', 'wordpress', 'angularjs'}
97: {'docker', 'javascript', 'flutter', 'dart', 'java', 'typescript'}
98: {'javascript', 'css', 'angular'}
99: {'html', 'javascript', 'php', 'sql', 'css'}
100: {'docker', 'kubernetes', 'laravel', 'html', 'php', 'aws'}
101: {'php', 'cloudflare', 'aws', 'laravel'}
103: {'tensorflow', 'mongodb', 'c++', 'python', 'java'}
106: {'c'}
107: {'python', 'sql'}
108: {'javascript', 'python', 'php', 'java'}
109: {'c++', 'python', 'tensorflow', 'c'}
111: {'c++', 'python', 'c'}
112: {'python', 'postgresql', 'sql'}
113: {'python'}
114: {'python', 'express', 'sql'}
115: {'python', 'sql'}
116: {'numpy', 'python', 'javascript', 'pandas'}
117: {'docker', 'mysql', 'html', 'node.js', 'laravel', 'javascript', 'mongodb', 'php', 'composer', 'mariadb', 'wordpress', 'css', 'angular', 'typescript'}
118: {'html', 'javascript', 'react', 'css', 'angular', 'kotlin', 'java'}
119: {'mysql', 'javascript', 'php', 'jquery', 'react'}
120: {'html', 'javascript', 'react', 'css', 'angularjs'}
121: {'python'}
122: {'java'}
123: {'go', 'oracle'}
124: {'kubernetes', 'node.js', 'react', 'rust', 'go', 'aws', 'firebase', 'redis', 'java'}
127: {'python', 'flask', 'terraform'}
128: {'postgresql', 'pandas', 'django', 'aws', 'python'}
131: {'python', 'mongodb', 'sql'}
133: {'python', 'mongodb', 'sql'}
There are 43 Offers with no skills available

### Tipo di Location
Per estrarre il tipo di Location dalle informazioni attualmente già presenti nel dataset, 
saranno interpretate come di tipo Remote tutte le offerte che non presentano una Location.

In [63]:
LOCATION_TYPES = {"Remote" : "Remote", "On Site" : "OnSite"}
locations_present = offers_frame["Location"].notna()
types = []

for is_present in locations_present:
    if is_present:
        types.append(LOCATION_TYPES["On Site"])
    else:
        types.append(LOCATION_TYPES["Remote"])

offers_frame.loc[:, "LocationType"] = types

offers_frame

,Name,Description,Location,LocationType
0,Software Developer,Miniclip is a global leader in digital games w...,"Genova, Liguria",OnSite
1,Junior Software Developer,"NETtoWORK, azienda italiana nata nel 2016, ope...",17100 Savona,OnSite
2,Software Developer,We are looking for talented and passionate peo...,55100 Lucca,OnSite
3,Software Developer,ARESYS is a R&D oriented company with nearly ...,"Matera, Basilicata",OnSite
4,Senior Software Developer,Il/la Candidato/a dovrà padroneggiare: \n \n- ...,"Catania, Sicilia",OnSite
...,...,...,...,...
163,Scientist,Data: 9 gen 2024Dipartimento: Pre-ClinicalTe...,"Parma, Emilia-Romagna",OnSite
165,Data Scientist - Pharma,Akkodis è un leader globale nel mercato dell'i...,"Provincia di Torino, Piemonte",OnSite
166,DATA SCIENTIST | MACHINE LEARNING | BIG DATA,Techyon: Information Technology Recruitment Ex...,"Parma, Emilia-Romagna",OnSite
167,PDS AD&GMP Scientist I,Job DescriptionWhen you’re part of Thermo Fish...,20900 Monza,OnSite
169,EU Institutions: AI Machine Learning Data Scie...,WHO WE ARE \n \n- Etinars is a values-focuse...,"Ispra, Lombardia",OnSite

### Linguaggi Richiesti
Per dedurre quali lingue parlate sono richieste da una data offerta di lavoro, viene utilizzato il modulo langdetect per identificare la lingua in cui è stata scritta la descrizione dell'offerta stessa, e successivamente tramite una ricerca all'interno del testo della descrizione per menzioni di ulteriori lingue.

In [64]:
from langdetect import detect
offers_langs = []
remove_map = {p:'' for p in punctuation}
supported_langs = ['italiano', 'inglese', 'italian', 'english']
eqs = [('italiano', 'italian'), ('inglese', 'english')]

for desc in offers_frame.Description:
    lang = detect(desc)
    if lang == 'it':
        lang = 'italiano'
    elif lang == 'en':
        lang = 'inglese'
    
    desc = remove_symbols(desc, remove_map)
    found = extract_symbols(desc, supported_langs)
    found.add(lang)
    found = list(found)
    
    for i, l in enumerate(found):
        for e in eqs:
            if l in e:
                found[i] = e[0]
                break
    
    offers_langs.append(found)
    
offers_frame.loc[:, "Languages"] = offers_langs

offers_frame

,Name,Description,Location,LocationType,Languages
0,Software Developer,Miniclip is a global leader in digital games w...,"Genova, Liguria",OnSite,"[inglese, inglese]"
1,Junior Software Developer,"NETtoWORK, azienda italiana nata nel 2016, ope...",17100 Savona,OnSite,[italiano]
2,Software Developer,We are looking for talented and passionate peo...,55100 Lucca,OnSite,"[inglese, inglese]"
3,Software Developer,ARESYS is a R&D oriented company with nearly ...,"Matera, Basilicata",OnSite,[inglese]
4,Senior Software Developer,Il/la Candidato/a dovrà padroneggiare: \n \n- ...,"Catania, Sicilia",OnSite,[italiano]
...,...,...,...,...,...
163,Scientist,Data: 9 gen 2024Dipartimento: Pre-ClinicalTe...,"Parma, Emilia-Romagna",OnSite,[inglese]
165,Data Scientist - Pharma,Akkodis è un leader globale nel mercato dell'i...,"Provincia di Torino, Piemonte",OnSite,[italiano]
166,DATA SCIENTIST | MACHINE LEARNING | BIG DATA,Techyon: Information Technology Recruitment Ex...,"Parma, Emilia-Romagna",OnSite,[italiano]
167,PDS AD&GMP Scientist I,Job DescriptionWhen you’re part of Thermo Fish...,20900 Monza,OnSite,[inglese]
169,EU Institutions: AI Machine Learning Data Scie...,WHO WE ARE \n \n- Etinars is a values-focuse...,"Ispra, Lombardia",OnSite,"[inglese, inglese]"