In [99]:
import sqlite3
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [100]:
offers_connection = sqlite3.connect('../datasets/offers_dataset.db')
offers_frame = pd.read_sql_query('''SELECT * FROM offers''', offers_connection)
offers_frame.set_index('ID', inplace=True)
offers_connection.close()

# [!] Le descrizioni all'interno del notebook non sono mostrate nella loro versione completa
#     per accedere ad una specifica descrizione usare il metodo: offers_frame.loc[ID, NomeColonna]
offers_frame

,Name,Description,Location
ID,,,
1,Software Developer,Miniclip is a global leader in digital games w...,"Genova, Liguria"
2,Junior Software Developer,"NETtoWORK, azienda italiana nata nel 2016, ope...",17100 Savona
3,Software Developer,We are looking for talented and passionate peo...,55100 Lucca
4,Software Developer,ARESYS is a R&D oriented company with nearly ...,"Matera, Basilicata"
5,Senior Software Developer,Il/la Candidato/a dovrà padroneggiare: \n \n- ...,"Catania, Sicilia"
...,...,...,...
850,JUNIOR DEVELOPER,Sede lavoro: Bergamo | Tempo pieno \n Livello:...,"Bergamo, Lombardia"
851,Sviluppatore Java Junior,TRIA ricerca uno sviluppatore Java JuniorNeola...,None
852,Stage Software Developer,CHI SIAMO \n Golilla è la start up delle azi...,20089 Rozzano
853,Web Developer,Sei la persona che cerchiamo se:Sei appassiona...,"San Benedetto del Tronto, Marche"
854,Software Developer,Siamo alla ricerca di un/una Software Develop...,"Catanzaro, Calabria"

## Data Exploration
Come prima cosa esaminiamo il nostro dataset di offerte, in particolare dovremmo verificare la qualità dei dati:
- Base   
    - Presenza di valori nulli
    - (**Importante**) Presenza di sinonimi geografici
    - Presenza di informazioni utili
- Avanzato
    - Analisi delle Parole Chiave (es. Titoli)
    - Analisi della distribuzione dei dati

**Presenza di Valori Nulli e Duplicati**
Come è possibile vedere di seguito il dataset contiene valori nulli solo per la colonna Location, il che però è normale, in quanto non tutte le Offerte di lavoro sono in presenza, quindi le Location mancanti rappresentano il numero di Offerte di lavoro in Remote.
Questa informazione è importante perchè in seguito ci sarà la necessità di rappresentare queste informazioni in modo omogeneo, in modo tale che un modello il cui scopo è raggruppare le Offerte (clustering, come proposto nell'Analisi del Problema) possa farlo in modo adeguato.

In [101]:
offers_frame.drop_duplicates(inplace=True)
offers_frame.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 1 to 101
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         50 non-null     object
 1   Description  50 non-null     object
 2   Location     38 non-null     object
dtypes: object(3)
memory usage: 1.6+ KB

## Presenza di Sinonimi Geografici
Il dataset contiene attualmente molteplici istanze in cui la stessa Location è riportata in modi diversi, come \<Cap>, \<Città> e \<Città>, \<Regione>.

In [102]:
#example_city = "Bologna"

#onsite_offers = offers_frame[offers_frame["Location"].notna()]
#geo_syn = onsite_offers.Location.map(lambda text: example_city in text)
#onsite_offers[geo_syn]

**Analisi dei Titoli**
Di seguito vengono analizzati i Titoli delle Offerte di lavoro con lo scopo di verificare la presenza di termini comuni, in particolare vengono usate delle basilari tecniche di Natural Language Processing come:
- **Tokenization**, utilizzata per dividere frasi o documenti in parole (*title.split()*) 
- **Rimozione della Punteggiatura**, utilizzata per migliorare la qualità dei dati estratti, in modo da non influenzare i risultati 
- **Normalizzazione**, utilizzata per ridurre la complessità del vocabolario e trattare parole con maiuscole e minuscole come equivalenti (*t.lower()*)

In [103]:
from string import punctuation
from collections import Counter

def count_words(document: str, counter: Counter):
    """
    :param document: a string representation of the document to inspect
    :param counter: a Python built-in object used to count occurrences of items
    """
    punct = [p for p in punctuation]
    for t in document.split():
        if not t in punct:
            counter[t.lower()] += 1


titles_counts = Counter()
offers_frame.Name.map(lambda text: count_words(text, titles_counts))

titles_counts

Counter({'software': 36,
         'developer': 30,
         'engineer': 8,
         'junior': 6,
         'senior': 4,
         'sviluppatore': 3,
         'java': 3,
         'programmatore': 3,
         'c#': 3,
         'graduate': 3,
         'frontend': 2,
         'settore': 2,
         'sanità': 2,
         'full': 2,
         'engineering': 2,
         'apprenticeship': 2,
         '2024': 2,
         'intern': 2,
         'ibp': 1,
         'algorithms': 1,
         'development': 1,
         'unity': 1,
         'game': 1,
         'stage': 1,
         'web': 1,
         'ai': 1,
         'trainer': 1,
         '(contract)': 1,
         'tecnico': 1,
         'bilance': 1,
         'digitali': 1,
         'supermercati': 1,
         'asp.net': 1,
         'manufacturing': 1,
         'relocation': 1,
         'usa': 1,
         'front-end': 1,
         'app': 1,
         'programmer': 1,
         'hmi': 1,
         'flutter': 1,
         'remote': 1,
         'stack': 1,
         'qa': 1,
         'appartenente': 1,
         'alle': 1,
         'categorie': 1,
         'protette': 1,
         'erp': 1,
         'uk': 1,
         'campus': 1,
         'programme': 1,
         'technology': 1,
         '(uk)': 1,
         'l4': 1,
         'apprentice': 1,
         '(london)': 1,
         'front': 1,
         'end': 1,
         '(100%': 1,
         'remote)': 1,
         'degree': 1,
         '(nottingham)': 1,
         'lead': 1,
         '(backend)': 1,
         'system': 1,
         'engineer,': 1,
         'summer': 1,
         'start': 1,
         '(fixed-term': 1,
         'contract)': 1})

Analisi delle occorrenze di parole:

In [104]:
# Jacopo plotta qui

### Skill Extraction
Per procedere con l'estrazione delle Competenze dalle Offerte per prima cosa importiamo il relativo dataset.

In [105]:
with sqlite3.connect('../datasets/skills_dataset.db') as skills_connection:
    skills_frame = pd.read_sql_query('SELECT * FROM skills', skills_connection)
    skills_frame.set_index('ID', inplace=True)
    
skills_frame

         SKILL                  TYPE
ID
0   JavaScript  Programming Language
1         HTML  Programming Language
2       Python  Programming Language
3          SQL  Programming Language
4   TypeScript  Programming Language
..         ...                   ...
95         APT                  Tool
96    Unity 3D                  Tool
97      Pacman                  Tool
98        pnpm                  Tool
99         CSS  Programming Language

[99 rows x 2 columns]

In [106]:
# Get Skill list
skills_list = [skill.lower() for skill in skills_frame['SKILL'].tolist()]

# Symbols to remove
punct = [p for p in punctuation]
punct.remove('+')
punct.remove('#')

removal = {p: '' for p in punct}
removal['\n'] = ''

def remove_symbols(description: str, remove_map: dict) -> str:
    for old, new in remove_map.items():
        description = description.replace(old, new)
    return description.lower()


def extract_skills(description: str, available_skills: list) -> set:
    s = set()
    for word in description.split():
        if word in available_skills:
            s.add(word)
    return s

In [107]:
for i, offer_description in enumerate(offers_frame.loc[:, 'Description']):
    desc = remove_symbols(offer_description, removal)
    offer_skills = extract_skills(desc, skills_list)
    if not offer_skills:
        print(f'{i}-Offer: No Skills')
    else:
        print(offer_skills)

0-Offer: No Skills
{'c', 'c#', 'java', 'c++', 'python'}
{'oracle', 'javascript', 'angular', 'java'}
{'c++', 'python'}
{'javascript', 'c#', 'sql', 'java', 'angularjs'}
{'java'}
6-Offer: No Skills
7-Offer: No Skills
{'javascript', 'html', 'css'}
{'mysql', 'java'}
{'jquery', 'javascript', 'c#', 'sql', 'html', 'css'}
{'java'}
{'docker', 'javascript', 'php', 'react', 'go', 'java', 'kubernetes'}
13-Offer: No Skills
{'angular', 'react', 'typescript'}
15-Offer: No Skills
16-Offer: No Skills
{'java'}
{'oracle', 'angular', 'react', 'java'}
19-Offer: No Skills
{'mysql', 'c#', 'sql', 'java', 'c++', 'python'}
{'oracle', 'javascript', 'typescript', 'flutter', 'react', 'angular', 'dart'}
{'c#', 'sql'}
{'javascript', 'php', 'sql', 'python'}
24-Offer: No Skills
{'dart', 'flutter'}
{'docker', 'vite', 'c#', 'sql'}
{'php', 'c#', 'java'}
{'python', 'c#', 'java'}
{'c++', 'c', 'java'}
{'docker', 'mysql', 'javascript', 'django', 'sql', 'css', 'postgresql', 'python'}
{'mysql', 'sql'}
32-Offer: No Skills
{'sql'}
34-Offer: No Skills
{'express', 'go', 'java', 'css', 'kotlin', 'python'}
{'javascript', 'php', 'html', 'go', 'css'}
{'javascript', 'html', 'angular', 'css'}
{'javascript', 'react', 'c#'}
{'css', 'javascript', 'html', 'java'}
{'javascript', 'typescript', 'c#', 'html', 'sql', 'css'}
{'javascript', 'react'}
{'c#', 'c', 'java'}
{'sql'}
{'java'}
{'mongodb', 'java'}
{'c'}
{'c', 'rust', 'java', 'c++', 'python'}
{'ruby'}
{'php', 'html'}

In [108]:
# Package necessari per la manipolazione di descrizioni in italiano (es. TF-IDF)

import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
nltk.download('stopwords')
stop_words = set(stopwords.words('italian'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\anton\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!